
<html>
    <head>
        <meta charset="UTF-8">
        <title>Главная :: Заметки </title>
    </head>
    <body>
        <h1><a href="{% url 'post_list' %}">Заметки</a> </h1>

        <div>

            {% for cat in cats %}
            <a href="{% url 'by_cat' cat.pk %}">{{ cat.name }}</a>
            {% endfor %}
        </div>
        {% for post in posts %}
        <div>
            <h2>{{ post.title }}</h2>
            <p>{{ post.text }}</p>
            <p>{{ post.cat.name }} </p>
        </div>
        {% endfor %}
    <a href="{% url 'add' %}">Добавить заметку</a>
    <div>
        <p>Сайт заработал</p>
        <p><a href="{% url 'calc' %}">калькулятор</a> </p>
    </div>
    </body>


</html>


