<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ current_cat.name }} :: Доска заметок</title>
</head>
<body>
  <h1><a href="{% url 'post_list' %}">Заметки</a>  </h1>

  <h2>Категория: {{ current_cat.name }}</h2>
  <div>
    <a href="/">Главная</a>
    {% for cat in cats %}
    <a href="{% url 'by_cat' cat.pk %}">{{ cat.name }}</a>
    {% endfor %}
  </div>
  {% for post in posts %}
    <div>
    <h2> {{ post.title }} </h2>
    <p>{{ post.text }}</p>
    <p>{{ post.published_date }}</p>
    </div>
  {% endfor %}
  <a href="{% url 'add' %}">Добавить заметку</a>
</body>
</html>